
<!DOCTYPE HTML>
<html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>{% block title %}{{titre}}{% endblock %}</title>

	<link rel="stylesheet" href="css/bootstrap.css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
  <style >
  #menu{height: 1000px}
    </style >


  
  </head>
  
  <header >
      

 
      </header>
  
  <body>
    <div class="row   " >
       
		<div class="span2"  >  
			 <nav class="col-xs-2 navbar-inverse" id="menu">
				<ul class="nav nav-pills nav-stacked navbar-inverse">  
					<li class="active   "><a href="{{path('Grc_accueil')}}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; Accueil</a></li>
					<li><a href="#">item1</a></li>					
					<li><a href="{{path('LIST_IMP')}}">item1</a></li>  
					<li><a href="#">item1 </a></li>   
					<li><a href="#">item1</a></li><br><br>  
							
					<li class="active"><a href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;item1</a></li>	
					<li>
						<a href="#demo3"  class=" list-group-item-info strong" data-toggle="collapse"  >item1 <span style="float:right;" class="glyphicon glyphicon-chevron-down"></span></a>
							<div class="collapse" id="demo3">
								<a href="{{path('Add_IMP')}}" class="list-group-item"  >item1 </a>
								<a href="{{path('EDIT_DELETE_IMP')}}" class="list-group-item" >item1</a>
							</div>
					</li>
					<li >
						<a href="#demo4"    class="list-group-item-info strong" data-toggle="collapse" >item1<span style="float:right;" class="glyphicon glyphicon-chevron-down"></span></a>
							<div class="collapse" id="demo4">					
								<a href="{{path('Add_USER')}}" class="list-group-item" >item1 </a>
								<a href="{{path('EDIT_DELETE_USER')}}" class="list-group-item" >item1 </a>
								<a href="#" class="list-group-item" d>item1</a>
							</div>
					</li>
					<li >
						<a href="#demo5"    class="list-group-item-info strong" data-toggle="collapse" >item1<span style="float:right;" class="glyphicon glyphicon-chevron-down"></span></a>
							<div class="collapse" id="demo5">					
								<a href="{{path('Add_USER')}}" class="list-group-item" >item1 </a>
								<a href="{{path('EDIT_DELETE_USER')}}" class="list-group-item" >item1 </a>
							</div>
					</li>					

				</ul>  
			</nav>					
		</div>  
		

	
		
<section class="  col-xs-10 well">
	
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
       <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Albums</a></li>
        <li><a href="#">Titre</a></li>
        <li><a href="#">Artist</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-default" role="navigation"> 
<!-- Brand and toggle get grouped for better mobile display --> 
  <div class="navbar-header"> 
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> 
      <span class="sr-only">Toggle navigation</span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
    </button> 
    <a class="navbar-brand" href="#">Brand</a> 
  </div> 
  <!-- Collect the nav links, forms, and other content for toggling --> 
  <div class="collapse navbar-collapse navbar-ex1-collapse"> 
    <ul class="nav navbar-nav"> 
      <li class="active"><a href="#">Link</a></li> 
      <li><a href="#">Link</a></li> 
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> 
        <ul class="dropdown-menu"> 
          <li><a href="#">Action</a></li> 
          <li><a href="#">Another action</a></li> 
          <li><a href="#">Something else here</a></li> 
          <li><a href="#">Separated link</a></li> 
          <li><a href="#">One more separated link</a></li> 
        </ul> 
      </li> 
    </ul>
  </div>
</nav>
	<p>Quod cum ita sit, paucae domus studiorum seriis cultibus antea celebratae nunc ludibriis ignaviae torpentis exundant, vocali sonu, perflabili tinnitu fidium resultantes. denique pro philosopho cantor et in locum oratoris doctor artium ludicrarum accitur et bybliothecis sepulcrorum ritu in perpetuum clausis organa fabricantur hydraulica, et lyrae ad speciem carpentorum ingentes tibiaeque et histrionici gestus instrumenta non levia.

Vide, quantum, inquam, fallare, Torquate. oratio me istius philosophi non offendit; nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; et tamen ego a philosopho, si afferat eloquentiam, non asperner, si non habeat, non admodum flagitem. re mihi non aeque satisfacit, et quidem locis pluribus. sed quot homines, tot sententiae; falli igitur possumus.

Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat casus, et Serenianus dignus exsecratione cunctorum, innoxius, modo non reclamante publico vigore, discessit.

Omitto iuris dictionem in libera civitate contra leges senatusque consulta; caedes relinquo; libidines praetereo, quarum acerbissimum extat indicium et ad insignem memoriam turpitudinis et paene ad iustum odium imperii nostri, quod constat nobilissimas virgines se in puteos abiecisse et morte voluntaria necessariam turpitudinem depulisse. Nec haec idcirco omitto, quod non gravissima sint, sed quia nunc sine teste dico.

Quid enim tam absurdum quam delectari multis inanimis rebus, ut honore, ut gloria, ut aedificio, ut vestitu cultuque corporis, animante virtute praedito, eo qui vel amare vel, ut ita dicam, redamare possit, non admodum delectari? Nihil est enim remuneratione benevolentiae, nihil vicissitudine studiorum officiorumque iucundius.

Cuius acerbitati uxor grave accesserat incentivum, germanitate Augusti turgida supra modum, quam Hannibaliano regi fratris filio antehac Constantinus iunxerat pater, Megaera quaedam mortalis, inflammatrix saevientis adsidua, humani cruoris avida nihil mitius quam maritus; qui paulatim eruditiores facti processu temporis ad nocendum per clandestinos versutosque rumigerulos conpertis leviter addere quaedam male suetos falsa et placentia sibi discentes, adfectati regni vel artium nefandarum calumnias insontibus adfligebant.

Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid? si ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium meorum consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim petenda.

Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris, alente inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant, quod eorum capiti quidam consortes apud Iconium Pisidiae oppidum in amphitheatrali spectaculo feris praedatricibus obiecti sunt praeter morem.

Sed (saepe enim redeo ad Scipionem, cuius omnis sermo erat de amicitia) querebatur, quod omnibus in rebus homines diligentiores essent; capras et oves quot quisque haberet, dicere posse, amicos quot haberet, non posse dicere et in illis quidem parandis adhibere curam, in amicis eligendis neglegentis esse nec habere quasi signa quaedam et notas, quibus eos qui ad amicitias essent idonei, iudicarent. Sunt igitur firmi et stabiles et constantes eligendi; cuius generis est magna penuria. Et iudicare difficile est sane nisi expertum; experiendum autem est in ipsa amicitia. Ita praecurrit amicitia iudicium tollitque experiendi potestatem.

Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis egere conatibus, Luscus quidam curator urbis subito visus: eosque ut heiulans baiolorum praecentor ad expediendum quod orsi sunt incitans vocibus crebris. qui haut longe postea ideo vivus exustus est.

Et Epigonus quidem amictu tenus philosophus, ut apparuit, prece frustra temptata, sulcatis lateribus mortisque metu admoto turpi confessione cogitatorum socium, quae nulla erant, fuisse firmavit cum nec vidisset quicquam nec audisset penitus expers forensium rerum; Eusebius vero obiecta fidentius negans, suspensus in eodem gradu constantiae stetit latrocinium illud esse, non iudicium clamans.

Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.

Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.

Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.

Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit. ianuario, Februario, provinciam non habebit; Kalendis ei denique Martiis nascetur repente provincia.</p>


  </body>
  
=======
<!DOCTYPE HTML>
<html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>{% block title %}{{titre}}{% endblock %}</title>

	<link rel="stylesheet" href="css/bootstrap.css" />
	<link href="css/tuto.css" rel="stylesheet">	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

	

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

  
  </head>
  
  <header class="row active well">
        <div class="col-xs-12 ">
			 <div class="row">
				<div class="col-xs-4 ">
					<p class="text-left ">

				  </p>	  
				</div>
					
				<div class="col-xs-4 col-xs-offset-1">
					<p class="text-left ">

					</p>	  
				</div><a href="{{path('logout')}}"><button  class="btn btn-default pull-right">Déconnexion</button></a>
			</div>
					
        </div>

      </header>
  
  <body>
    <div class="row  ">
       
		<div class="span2">  
			 <nav class="col-xs-2 well">
				<ul class="nav nav-pills nav-stacked ">  
					<li class="active   "><a href="{{path('Grc_accueil')}}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; Accueil</a></li>
					<li><a href="#">item1</a></li>					
					<li><a href="{{path('LIST_IMP')}}">item1</a></li>  
					<li><a href="#">item1 </a></li>   
					<li><a href="#">item1</a></li><br><br>  
							
					<li class="active"><a href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;item1</a></li>	
					<li>
						<a href="#demo3"  class=" list-group-item-info strong" data-toggle="collapse"  >item1 <span style="float:right;" class="glyphicon glyphicon-chevron-down"></span></a>
							<div class="collapse" id="demo3">
								<a href="{{path('Add_IMP')}}" class="list-group-item"  >item1 </a>
								<a href="{{path('EDIT_DELETE_IMP')}}" class="list-group-item" >item1</a>
							</div>
					</li>
					<li >
						<a href="#demo4"    class="list-group-item-info strong" data-toggle="collapse" >item1<span style="float:right;" class="glyphicon glyphicon-chevron-down"></span></a>
							<div class="collapse" id="demo4">					
								<a href="{{path('Add_USER')}}" class="list-group-item" >item1 </a>
								<a href="{{path('EDIT_DELETE_USER')}}" class="list-group-item" >item1 </a>
								<a href="#" class="list-group-item" d>item1</a>
							</div>
					</li>
					<li >
						<a href="#demo5"    class="list-group-item-info strong" data-toggle="collapse" >item1<span style="float:right;" class="glyphicon glyphicon-chevron-down"></span></a>
							<div class="collapse" id="demo5">					
								<a href="{{path('Add_USER')}}" class="list-group-item" >item1 </a>
								<a href="{{path('EDIT_DELETE_USER')}}" class="list-group-item" >item1 </a>
							</div>
					</li>					

				</ul>  
			</nav>					
		</div>  
		

	
		
<section class="  col-xs-10 well">
	<div>
	<p class="text-left "><h3> section</h3></p><br>

</div>

	
   

<script>

 $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$(function() {
$( "#grc_gtpbundle_imputation_dateOuverture" ).datepicker({
altField: "#grc_gtpbundle_imputation_dateOuverture",
closeText: 'Fermer',
firstDay: 1 ,
prevText: 'Précédent',
nextText: 'Suivant',
currentText: 'Aujourd\'hui',
monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
weekHeader: 'Sem.',
dateFormat: 'dd/mm/yy'
});
}).attr("readonly","readonly");
$(function() {
$( "#grc_gtpbundle_imputation_dateFermeture" ).datepicker({
altField: "#grc_gtpbundle_imputation_dateFermeture",
closeText: 'Fermer',
firstDay: 1 ,
prevText: 'Précédent',
nextText: 'Suivant',
currentText: 'Aujourd\'hui',
monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
weekHeader: 'Sem.',
dateFormat: 'dd/mm/yy'
});
}).attr("readonly","readonly")
$(function() {
$( "#grc_userbundle_user_dateEntreeEts" ).datepicker({
altField: "#grc_userbundle_user_dateEntreeEts",
closeText: 'Fermer',
firstDay: 1 ,
prevText: 'Précédent',
nextText: 'Suivant',
currentText: 'Aujourd\'hui',
monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
weekHeader: 'Sem.',
dateFormat: 'dd/mm/yy'
});
}).attr("readonly","readonly");



</script>

</script>


   

  </div>
  </body>
  
</html>